In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [51]:
df = pd.read_csv('IBM HR Employee Attrition.csv')

In [52]:
df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})
df['BusinessTravel'] = df['BusinessTravel'].map({'Travel_Rarely': 0, 'Travel_Frequently': 1, 'Non-Travel': 2})
df['Department'] = df['Department'].map({'Sales': 0, 'Research & Development': 1, 'Human Resources': 2})
df['Gender'] = df['Gender'].map({'Female': 0, 'Male': 1})

df['EducationField'] = df['EducationField'].map({
    'Life Sciences': 0, 
    'Other': 1, 
    'Medical': 2,
    'Marketing': 3, 
    'Technical Degree': 4, 
    'Human Resources': 5
})

df['JobRole'] = df['JobRole'].map({
    'Sales Executive': 0, 
    'Research Scientist': 1, 
    'Laboratory Technician': 2,
    'Manufacturing Director': 3, 
    'Healthcare Representative': 4, 
    'Manager': 5,
    'Sales Representative': 6, 
    'Research Director': 7, 
    'Human Resources': 8
})

df['MaritalStatus'] = df['MaritalStatus'].map({
    'Single': 0, 
    'Married': 1, 
    'Divorced': 2
})

df = df.drop('Over18', axis=1)

df['OverTime'] = df['OverTime'].map({'No': 0, 'Yes': 1})

In [53]:
df.drop(columns=['StockOptionLevel', 'YearsAtCompany',
       'JobInvolvement', 'JobSatisfaction', 'EnvironmentSatisfaction',
       'DistanceFromHome', 'EducationField', 'Department', 'WorkLifeBalance',
       'TrainingTimesLastYear', 'DailyRate', 'RelationshipSatisfaction',
       'NumCompaniesWorked', 'YearsSinceLastPromotion', 'Education', 'Gender',
       'JobRole', 'MonthlyRate', 'PercentSalaryHike', 'EmployeeNumber',
       'HourlyRate', 'PerformanceRating', 'BusinessTravel', 'EmployeeCount',
       'StandardHours'], inplace=True)

In [54]:
df["Attrition"] = df.pop("Attrition")
df

,Age,JobLevel,MaritalStatus,MonthlyIncome,OverTime,TotalWorkingYears,YearsInCurrentRole,YearsWithCurrManager,Attrition
0,41,2,0,5993,1,8,4,5,1
1,49,2,1,5130,0,10,7,7,0
2,37,1,0,2090,1,7,0,0,1
3,33,1,1,2909,1,8,7,0,0
4,27,1,1,3468,0,6,2,2,0
...,...,...,...,...,...,...,...,...,...
1465,36,2,1,2571,0,17,2,3,0
1466,39,3,1,9991,0,9,7,7,0
1467,27,2,1,6142,1,6,2,3,0
1468,49,2,1,5390,0,17,6,8,0
1469,34,2,1,4404,0,6,3,2,0

In [64]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
salary_column = df["MonthlyIncome"].values.reshape(-1, 1)
age_column = df["Age"].values.reshape(-1, 1)


sc.fit(salary_column)
standardized_salary = sc.transform(salary_column)
df["MonthlyIncome"] = standardized_salary

sc.fit(age_column)
standardized_age = sc.transform(age_column)
df["Age"] = standardized_age

In [69]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.25, random_state=0)